:root {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    font-size: 1.3rem;
    background-color: white;
    
}
.imge {
    box-sizing: content-box;
    padding: 10px;
    display: flex;
    width: auto;
    height: 600px;
    /* background-image: url("paris.jpg"); */
    background-repeat: no-repeat;
    border-radius: 10px;
    margin: 0px;
    background-size: 100%;
    
}

.border img {
    height: auto;
}
.border {
    border: 1px solid gray;
    padding: 10px;
    min-height: 300px;
    width: 1000px;
    margin: 30px 0px;
    align-items: center;
    border-radius: 20px;
    position: sticky;
}

body {
    display: block;
    align-content: center;
    background-color: rgb(255, 255, 255);
    margin: 0px;
    
    border-radius: 20px;
}

.location {
    display: flex;
    position: absolute;
    z-index: 2;
    vertical-align: baseline;
    left: 15px;
    bottom: 15px;
    color: white;
    text-decoration: underline;
    font-size: 50px;
    font-weight: 800;
    margin: 0;
    user-select: none;
}

html {
    scroll-behavior: smooth;
}
footer div {
    background-color: rgb(0, 27, 51);
    color: white;
}
.choice {
    text-align: center;
    margin: 0; /* Ensures no additional margin */
    padding: 5px 0; /* Minimal padding - adjust as needed */
    font-size: 1.5rem;
}
.description, .rating {
    display: block;
    padding-left: 20px;
}



main > div {
    margin:  30px 0px;
}

.nav {
    padding-bottom: 0px;
    
}
.col {
    display: grid;
    grid-template-columns: 500px 500px;
    justify-content: space-between;
    width: 1000px;
    text-align: center;
}
.activity {
    width: 400px;
    justify-self: center;
    padding: 10px; 
    height: auto;
    margin: 0px;  
}
.activity img {
    width: 400px;
    height: 300px;
    
    border-radius: 40px;
    
}
.activities h2 {
    text-align: center;
    justify-content: center;
}
#about {
    display: flex;
    text-align: center;
    align-items:flex-start;
    justify-content: center;
    border-radius: 4px;
    margin: 0px;
    width: 1000px;
    padding-top: 30px;
    
}
#about div{
    margin: 20px 60px 20px 60px;
    width: auto;
    padding: 10px;
    max-width: 200px;
    
}
#about a{
    display: block;
    color: white;
    margin-top: 40px;
    text-decoration: none;

}
#about h3 {
    margin: 0px;
}
.activity p {
    padding: 5px;
    word-wrap: break-word;
    height: auto;
}

.logo img {
    height: 60px;
}
.nav {
    display: flex;
    margin: 12px 0px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    width: 1000px;
}
.logo {

    padding: 8px 10px 8px 0px
}
.navitem {
    text-align: right;
    
}
.navbutton {
    padding: 30px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    
} 
.navbutton:hover{
    color: rgb(74, 74, 255);
}
.locationlink{
    color: black;
  
}
.sign_in {
    background-color: rgb(74, 74, 255);
    border-radius: 10px;
    color: white;
}
.sign_in:hover {
    background-color: rgb(0, 60, 100);
    color: white;
}
.info *, #reviews *{
    padding: 10px;
}
.lo {
    border-radius: 30px;
}
#reviewForm {
    display:grid;
    justify-items: end;
    width: auto;
}
#reviewBox {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    justify-self: left;
    resize: none;
    height: 100px;
    
}
#reviewSubmit {
    margin-top: 20px;
    width: 120px;
    height: 50px;
    background-color: rgb(74, 74, 255);
    color: white;
    font-size: 20px;

}

.location-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    height: auto; /* Change from 100% to auto */
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
}
.location-card {
    height: 325px;
    width: 303px; /* Adjust size as needed */
    margin: 5px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
    /* Additional styles as needed */
}
.location-cards-container a {
    text-decoration: none; /* Removes underline from links */
    color: inherit; /* Inherits color from parent */
}

.location-cards-container a:visited {
    color: inherit; /* Keeps visited links the same color */
}

.card-image {
    height: 250px; /* Adjust size as needed */
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.multi.imge.border {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: auto; /* Adjust height */
    margin-bottom: 10px; /* Control the space at the bottom */
}
#ratingMenu {
    justify-self: left;
}
.userReview{
    padding: 10px;
    border: 1px solid black;
    min-height: 90px;
    border-radius: 10px;
    display: flex;
    margin: 20px 20px 20px 20px;
}
.reviewMessage{
    word-wrap: break-word;
    padding: 1px;
    overflow: hidden;
}
.userReview, .userReview *{
    align-items: center;
}
.userReview p {
    min-width: 70px;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
